.body {

}
    .body__banner {
        margin: 0 0 20px;
    }

    .body__sidebar {
        display: inline-block;
        vertical-align: top;
        width: 320px;
        margin: 0 0 0 20px;
    }

    .body__content {
        display: inline-block;
        vertical-align: top;
        width: 620px;
    }