.carousel {

}
    .carousel__viewport {
        position: relative;
        overflow: hidden;
    }

        .carousel__viewport__list {
            width: 10000px;
            position: relative;
        }

            .carousel__viewport__list__item {
                display: inline-block;
                vertical-align: top;
            }

            .carousel__viewport__list__item:first-child {
                margin-left: 0;
            }

    .carousel__arrow {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #9dba7a;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }

    .carousel__arrow_prev {
        background-image: url(../images/arrow__prev.png);
    }

    .carousel__arrow_next {
        background-image: url(../images/arrow__next.png);
    }

    .carousel__arrow_big {
        width: 55px;
        height: 55px;
        border-radius: 27px;
    }

    .carousel__arrow_big.carousel__arrow_prev {
        background-image: url(../images/arrow_large__prev.png);
    }

    .carousel__arrow_big.carousel__arrow_next {
        background-image: url(../images/arrow_large__next.png);
    }

    .carousel_project .carousel__viewport__list__item {
        margin-left: 40px;
        width: 240px;
    }

    .carousel_feedback .carousel__viewport__list__item {
        margin-left: 20px;
    }