.content {
    font-size: 14px;
    line-height: 17px;
    color: #364456;
}
    .content__offer {
        margin: -10px;
    }
        .content__offer__item {
            display: inline-block;
            vertical-align: top;
            margin: 10px;
            width: 300px;
        }

    .content__title {

    }

    .content__page {
        margin-top: 15px;
    }


    .content__page:first-child {
        margin-top: 0;
    }

