.feedback-preview {
    position: relative;
    padding: 97px 0 0;
}

    .feedback-preview__comment {
        position: absolute;
        bottom: 55px;
        left: 0;
        width: 100%;
    }
        .feedback-preview__comment__bubble {
            font-size: 14px;
            line-height: 17px;
            color: #364456;
            background: #fff;
            border-radius: 10px;
            padding: 12px 15px;
        }

        .feedback-preview__comment__arrow {
            background: url(../images/feedback__bubble-leg.png);
            width: 33px;
            height: 29px;
            position: absolute;
            top: 100%;
            right: 41px;
        }

    .feedback-preview__author {

    }

        .feedback-preview__author__icon {
            width: 50px;
            height: 50px;
            display: inline-block;
            vertical-align: top;
        }

            .feedback-preview__author__icon__file {
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }

        .feedback-preview__author__text {
            margin-left: 9px;
            padding-top: 11px;
            font-size: 12px;
            line-height: 14px;
            color: #7e8386;
            display: inline-block;
            vertical-align: top;

        }

            .feedback-preview__author__text__name {
                font-weight: bold;
                text-transform: uppercase;
                display: inline;
            }