.header {
    height: 390px;
    position: relative;
}
    .header__logo {
        position: absolute;
        left: -6px;
        top: 131px;
    }

    .header__contacts {
        position: absolute;
        left: 253px;
        top: 76px;
    }

    .header__nav {
        position: absolute;
        left: -20px;
        right: -20px;
        bottom: 0;
    }