.icon {
    display: inline-block;
    vertical-align: top;
}

.icon_man {
    background: url(../images/icon_man.png);
    width: 9px;
    height: 8px;
}

.icon_letter {
    background: url(../images/icon_letter.png);
    width: 9px;
    height: 8px;
}