.icon {
    display: inline-block;
    vertical-align: top;
}

.icon_man {
    background: url(../images/icon_man.png);
    width: 9px;
    height: 8px;
}

.icon_letter {
    background: url(../images/icon_letter.png);
    width: 9px;
    height: 8px;
}

.icon_plan {
    background: url(../images/icon_plan.png);
    width: 17px;
    height: 17px;
}

.icon_map {
    background: url(../images/icon_maps.png);
    width: 17px;
    height: 17px;
}

.icon_magnifier {
    background: url(../images/magnifier.png);
    width: 30px;
    height: 30px;
}

