.link {
    text-decoration: underline;
    color: #4b9fba;
}

.link:hover {
    text-decoration: none;
}

    .link_dark {
       color: #3e586c;;
    }


    .link__icon {
        display: inline-block;
        vertical-align: top;
    }


    .link__body {
        margin-left: 5px;
        display: inline-block;
        vertical-align: top;
    }

.link_with-icon {
    text-decoration: none;
}

.link_with-icon .link__body {
    text-decoration: underline;
}

.link_with-icon:hover .link__body {
    text-decoration: none;
}