.page {

}
    .page__header {
        background: url(../images/header_1366.jpg) no-repeat center top;
    }

    @media screen and (max-width: 1024px)                         { .page__header { background-image: url(../images/header_1024.jpg); } }
    @media screen and (min-width: 1025px) and (max-width: 1366px) { .page__header { background-image: url(../images/header_1366.jpg); } }
    @media screen and (min-width: 1367px) and (max-width: 1600px) { .page__header { background-image: url(../images/header_1600.jpg); } }
    @media screen and (min-width: 1601px) and (max-width: 1920px) { .page__header { background-image: url(../images/header_1920.jpg); } }
    @media screen and (min-width: 1921px)                         { .page__header { background-image: url(../images/header_2560.jpg); } }

    .page__nav {
        margin: 20px 0 0;
    }

    .page__body {
        margin: 20px 0 0;
    }

    .page__feedback + .page__body {
        margin-top: 30px;
    }

    .page__feedback {
        margin: 29px 0 0;
        background: url(../images/feedback__background.png) repeat;
    }

        .page__feedback__top-pins {
            background: url(../images/feedback__top-pins.png) repeat-x;
            height: 6px;
        }

        .page__feedback__bottom-pins {
            background: url(../images/feedback__bottom-pins.png) repeat-x;
            height: 6px;
        }

    .page__projects {
        margin: 23px 0 0;
    }

    .page__footer {
        margin: 28px 0 0;
        background: #f7f7f7;
    }