.table {
    background: #fff;
    table-layout: fixed;

/*
    border-collapse: separate; // to separate cells by free space (but here goes extra pixel between thead and tbody - can be removed by removing this tags)
    border-spacing: 1px;       // to separate cells by free space (but here goes extra pixel between thead and tbody - can be removed by removing this tags)
*/
}


    .table__body {

    }
        .table__body__row {

        }
            .table__body__row__cell {
                padding: 6px 18px 7px;
            }

        .table__body__row__cell:first-child {
            color: #7e8386;
        }

        .table__body__row:nth-child(odd) {
            background: #f7f7f7;
        }

.table_table_product {
    background: #f7f7f7;
}

.table_table_product .table__body__row:nth-child(odd) {
    background: #fff;
}

.table_product .table__body__row__cell:first-child {
    width: 170px;
}

.table_details .table__body__row__cell:first-child {
    width: 245px;
}