.title {
    font-family: 'Sunline';
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    color: #3e586c;
}

.title_large {
    font-size: 24px;
    line-height: 24px;
}

.title_small {
    font-size: 16px;
    line-height: 19px;
}